.enter {
  opacity: 0;
  transform: translateX(0);
}

.enterActive {
  opacity: 1;
  transform: translateX(1);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateX(1);
}

.exitActive {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}